<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="slancer.mindfly.service.account.dao.WeChatAccountDAO">
    <resultMap id="WeChatAccountEntityMap" type="UserEntity">
        <id column="open_id" jdbcType="BIGINT" property="openId"/>
        <result column="user_id" jdbcType="VARCHAR" property="userId"/>
        <result column="create_time" jdbcType="TIMESTAMP" property="createTime"/>
    </resultMap>

    <sql id="all_fields">
        open_id, user_id,create_time
    </sql>

    <insert id="create" parameterType="UserEntity">
        insert into user_info (
        <include refid="all_fields"/>
        ) values (
        #{openId}, #{userId}, #{createTime}
        )
    </insert>

    <select id="getById" resultMap="WeChatAccountEntityMap">
        select <include refid="all_fields" />
        from user_info
        where open_id=#{openId}
    </select>
    
</mapper>